<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Benjamin Bergougnoux</title>
  <meta name="description" content="Homepage of Benjamin Bergougnoux. Research interests, list of publications, slides, PhD thesis and more...">
  <meta name="keywords" content="Benjamin,Bergougnoux,Homepage,Personal, Warsaw, Bergen, UiB, Page,Publications,Thesis,Dr,Computer Science">
  <meta name="author" content="Benjamin Bergougnoux">
  <link rel="icon" type="image/png" href="logo.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="./vue.js.js"></script>
  <script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    },
    svg: {
      fontCache: 'global'
    }
  };
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link href="mystyle.css" rel="stylesheet">
</head>


<body id="home" data-spy="scroll" data-target="#myNavBar" data-offset="1">
      <div id="baniere" class="bg-light container-fluid">
        <div class="row">
          <div id="myCarousel" class="col-lg-7 px-0 carousel slide" data-bs-ride="carousel" data-bs-interval="10000">
            <div class="carousel-inner">
              <template v-for="n in 17">
                <div v-if="n==counter" class="carousel-item active" >
                  <img v-bind:src="'./img/bg-'+n+'.jpg'" class="d-block w-100" alt="magnifique baniere">
                </div>
                <div v-else class="carousel-item" >
                  <img v-bind:src="'./img/bg-'+n+'.jpg'"  class="d-block w-100" alt="magnifique baniere">
                </div>
              </template>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <div class="col-lg-5 col-sm-12  pt-2 text-center" >
            <h2>Benjamin Bergougnoux</h2>
            <hr>
            <h5 >Email: <span class="text-secondary"> <i>firstname</i>.<i>surname</i>(at)gmail.com</span></h5>
            <p>
              I am an associate professor (maître de conférences) at the <a href="https://www.univ-amu.fr/en">Aix-Marseille University</a>,
              member of the <a href="https://coala.lis-lab.fr/">COALA</a> team, part of the <a href="https://www.lis-lab.fr">LIS</a> laboratory.
            </p>
            <p>
              Prior to that I spent two years as a postdoc at <a href="https://en.uw.edu.pl">University of Warsaw</a> and 3 years as a postdoc at
              <a href="https://www.uib.no/en">University of Bergen</a>.
               I defended my Ph.D. at <a href="https://www.uca.fr">Université Clermont Auvergne</a>.
            </p>
            </div>
        </div>
        </div>

        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavDarkDropdown">
              <ul class="navbar-nav ">
                <li class="nav-item">
                  <a type="button" class="btn btn-outline-light me-2" href="#publilist">Publications</a>
                 </li>
                 <li class="nav-item">
                   <a type="button" class="btn btn-outline-light me-2" data-bs-toggle="modal"  data-bs-target="#phdmodal">PhD Thesis</a>
                </li>
                <li class="nav-item dropdown">
                  <a class=" dropdown-toggle btn btn-outline-light me-2" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Curriculum vitæ
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="./pdf/CV_Bergougnoux_EN.pdf">English</a></li>
                    <li><a class="dropdown-item" href="./pdf/CV_Bergougnoux_FR.pdf">Français</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>


        <div class="bg-dark text-white p-4">
          <div class="row">
            <div id="researchInterest" class="col-lg-8 text-justify">
              <h2>Research interests</h2>
              <p>
                I work on Theoretical Computer Science and I am mostly interested by the following fundamental question:
                <p class="lead text-center">
                  What structural restrictions make NP-hard problems tractable?
                </p>
                 I obtained my PhD degree in February 2019 from the Université Clermont Auvergne.
                 My dissertation research and most of my results focus on parameterized complexity and
                 in particular how to solve eﬀiciently NP-hard problems in terms of width parameters such as tree-width,
                 clique-width, rank-width and mim-width.
                </p>
          </div>
            <img class="img-fluid col-lg-3  my-auto d-none d-lg-block" alt="Wonderful photo of myself" src="me.jpg" />
        </div>
      </div>

      <div id="publilist" class="container p-3">

        
          <p class="smaller text-secondary"><h2 class="mb-3">Publications</h2> See also my <a href="https://dblp.uni-trier.de/pers/hd/b/Bergougnoux:Benjamin">dblp</a> or <a href="https://scholar.google.fr/citations?user=m-TtvNoAAAAJ&hl=fr&oi=ao">Google scholar</a></p>
        

        <ul class="list-group list-group-flush">
          <template v-for="(item, index) in publications">

            <li v-bind:class="[item.journal ? 'journal' : [item.conf ? 'conf' : 'incoming']]" class="list-group-item">
              <b class="title">{{item.title}}</b></br>
              <span class="">{{item.authors}}</span>
                <span v-if="item.journal" class="text-primary">{{item.journal}}.
                  <span v-if="item.conf" class="text-primary small">Extended abstract in {{item.conf}}.</span>
                </span>
                <span v-else-if="item.conf" class="text-primary">{{item.conf}}.
                  <span v-if="item.comment" class="text-primary">{{item.comment}}.</span>
                </span>
                <span v-else-if="item.comment" class="text-primary">{{item.comment}}.</span>
                <a v-if="item.openacess" v-bind:href="item.openacess" class="badge bg-dark">
                  Open access
                </a>
                <a v-if="item.pdf" v-bind:href="item.pdf" class="badge bg-danger">
                Pdf</a>
                <a class="badge bg-success" data-bs-toggle="modal" v-bind:data-bs-target="'#modal'+item.id" >
                More</a>
            </li>


            <div class="modal fade" v-bind:id="'modal'+item.id" role="dialog">
              <div class="modal-dialog modal-xl">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title m-0">{{item.title}}</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="author col-12"><h5 class="m-0">{{item.authors}}</h5></div>
                        <div class="text-primary col-12">
                          <span class="small">
                            <span v-if="item.journal" class="text-primary">{{item.journal}}.
                              <span v-if="item.conf" class="text-secondary">{{item.conf}}.</span>
                            </span>
                            <span v-else-if="item.conf" class="conf text-primary">{{item.conf}}.
                              <span v-if="item.comment" class="text-secondary ">{{item.comment}}.</span>
                            </span>
                            <span v-else class="conf text-secondary">{{item.comment}}.</span>
                          </span>
                        </div>
                      </div>
                      <div class="row mt-2">
                        <div class="col-12  text-justify">
                          <div class="container">
                            <span v-html="item.abstract"></span>
                          </div>
                        </div>
                        <div v-if="item.presentations.length" class="col-12 pt-3">
                          <h5>Presented in:</h5>
                        </div>
                        <div class="col-12">
                          <ul v-for="presentation in item.presentations" class="presentations">
                            <li>{{presentation.place}}.
                              <a v-if="presentation.slides" v-bind:href="presentation.slides"> (slides)</a>
                              <a v-if="presentation.video" v-bind:href="presentation.video"> (video)</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <ul class="nav nav-pills nav-fill">
                        <li v-if="item.openacess" class="nav-item">
                          <a v-bind:href="item.openacess" class="btn btn-outline-primary" role="button">
                            <img class="" height="32px" alt="" src="./img/oa.png" /></a>
                        </li>
                        <li v-if="item.pdf" class="nav-item">
                          <a v-bind:href="item.pdf" class="btn btn-outline-primary" role="button"><span class="far fa-2x fa-file-pdf"></span></a>
                        </li>
                        <li v-if="item.bibtex" class="nav-item">
                          <a v-bind:href="item.bibtex" class="btn btn-outline-primary" role="button">Bibtex</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
          </template>
        </template>
        </ul>

        <h3 id="thesis" class="mt-4">PhD Thesis </h3>

        <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h5 class="">Matrix Decompositions and Algorithmic Applications to (Hyper)Graphs</h5>
          <div class="text-muted"><small class="text-primary">Defended on the 13th February 2019.</small>
            <a href="./pdf/BergougnouxThesis.pdf" class="badge bg-danger">Pdf</a>
            <a class="badge bg-success" data-bs-toggle="modal" data-bs-target="#phdmodal">More</a>
          </div>

        </li>
        </ul>
      </div>


      <div class="modal fade" id="phdmodal" role="dialog">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Matrix Decompositions and Algorithmic Applications to (Hyper)Graphs</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="author col">
                    <h5>Thesis supervisor: <a href="http://fc.isima.fr/~kante/">Mamadou Moustapha Kanté</a>.</h5>
                    <span class="small">
                      <span class="text-primary ">Defended on the 13th February 2019.</span>
                    </span>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-12  text-justify">
                    <div class="container">
                      <p>In the last decades, considerable efforts have been spent to characterize what makes NP-hard problems tractable.
                        A successful approach in this line of research is the theory of parameterized complexity introduced by Downey and Fellows in the nineties.
                        In this framework, the complexity of a problem is not measured only in terms of the input size, but also in terms of a parameter on the input.
                        One of the most well-studied parameters is tree-width, a graph parameter which measures how close a graph is to the topological structure of a tree.
                        It appears that tree-width has numerous structural properties and algorithmic applications.
                        <br>
                        However, only sparse graph classes can have bounded tree-width.
                        But, many NP-hard problems are tractable on dense graph classes.
                        Most of the time, this tractability can be explained by the ability of these graphs to be recursively decomposable along vertex bipartitions $(A,B)$ where the adjacency between $A$ and $B$ is simple to describe.
                        A lot of graph parameters -- called width measures -- have been defined to characterize this ability, the most remarkable ones are certainly clique-width, rank-width, and  mim-width.
                        In this thesis, we study the algorithmic properties of these width measures.
                        <br>
                        We provide a framework that generalizes and simplifies the tools developed for tree-width and for problems with a constraint of acyclicity or connectivity such as Connected Vertex Cover, Connected Dominating Set, Feedback Vertex Set, etc.
                        For all these problems, we obtain $2^{O(k)}\cdot n^{O(1)}$, $2^{O(k \log(k))}\cdot n^{O(1)}$, $2^{O(k^2)}\cdot n^{O(1)}$ and $n^{O(k)}$ time algorithms parameterized respectively by clique-width, $\mathbb{Q}$-rank-width, rank-width and mim-width.
                        We also prove that there exists an algorithm solving Hamiltonian Cycle in time $n^{O(k)}$, when a clique-width decomposition of width $k$ is given.
                        Finally, we prove that we can count in polynomial time the minimal transversals of $\beta$-acyclic hypergraphs and the minimal dominating sets of strongly chordal graphs.
                        All these results offer promising perspectives towards a generalization of width measures and their algorithmic applications. </p>
                      </div>
                    </div>
                    <div id="bibtexphd" class="collapse col-12  text-justify">
                      <pre class="verbatim container ml-5">
@phdthesis{DBLP:phd/hal/Bergougnoux19,
author    = {Benjamin Bergougnoux},
title     = {Matrix decompositions and algorithmic applications to (hyper)graphs.},
school    = {University of Clermont Auvergne, Clermont-Ferrand, France},
year      = {2019},
url       = {https://tel.archives-ouvertes.fr/tel-02388683},
timestamp = {Fri, 13 Dec 2019 09:16:00 +0100},
biburl    = {https://dblp.org/rec/phd/hal/Bergougnoux19.bib},
bibsource = {dblp computer science bibliography, https://dblp.org}
}
                      </pre>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <ul class="nav nav-pills nav-fill">
                  <li class="nav-item">
                    <a href="./pdf/BergougnouxThesis.pdf" class="btn btn-outline-primary" role="button"><span class="far fa-2x fa-file-pdf"></a>
                  </li>
                  <li class="nav-item">
                    <button class="btn btn-outline-primary" data-toggle="collapse" data-target="#bibtexphd">
                    <img class="" height="32px" alt="" src="./img/bibtex.png" /></button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid bg-dark text-white px-auto p-4">
			<div class="container align-self-center">
            <h5 class="">Some Links:</h5>
            <div class="row">
              <div class="col-6">
                <ul class="list-unstyled">
                  <li>
                    <a class="link-light" href="https://dblp.uni-trier.de/pers/hd/b/Bergougnoux:Benjamin">My dblp</a>
                  </li>
                  <li>
                    <a class="link-light" href="http://fpt.wikidot.com/">Parameterized Complexity Community Wiki</a>
                  </li>
                  <li>
                    <a class="link-light" href="https://scholar.google.fr/citations?user=m-TtvNoAAAAJ&hl=fr&oi=ao">My Google Scholar</a>
                  </li>
                </ul>
              </div>
              <div class="col-6 text-left ">
                <ul class="list-unstyled">
                  <li>
                    <a class="link-light" href="http://fpt.wikidot.com/fpt-news:the-parameterized-complexity-newsletter">FPT Newsletter</a>
                  </li>
                  <li>
                    <div itemscope itemtype="https://schema.org/Person"><a class="link-light" itemprop="sameAs" content="https://orcid.org/0000-0002-6270-3663" href="https://orcid.org/0000-0002-6270-3663" target="orcid.widget" rel="noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">https://orcid.org/0000-0002-6270-3663</a></div>
                  </li>
                </ul>
              </div>
            </div>
            <h5 style="display: inline" class="">Some co-authors and collegues:</h5>
            <div id="colleguelist" class="row">
          			<p>
		              	<template  v-for="(humanPerson, i) in listCollegues">
		              		<a class="link-warning link-underline-opacity-25 link-underline-opacity-100-hover" v-bind:href="humanPerson.website">{{humanPerson.name}}</a>, 
      			  		</template>				      
				    </p>
            </div>
         </div>
 


        <div class="container-fluid bg-dark text-white text-center py-3">
          Photos: Benjamin Bergougnoux. This website uses Bootstrap 5, MathJax and Vue.js 2.
        </div>

        <script src="myScript.js"></script>
      </body>
      </html>
